.errorMsg {
    margin: 10px 100px;
    text-align: center;
}

.errorMsg h1 {
    font-size: 5rem;
    color: #8b0000;
}

.errorMsg h4 {
    color: #8b0000;
}

.errorMsg p {
    letter-spacing: 2rem;
    color: black;
    font-size: 5rem;
    font-weight: 700;
}