.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(167, 11, 162, 0.1);
    margin: 2rem;
    text-align: left;
    color: inherit;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.date {
    font-size: 12px;
}


/* .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 3px 5px rgba(167, 11, 162, 0.1);
    margin: 20px 0;
    padding: 13px;

} */

.item:hover,
.item:focus,
.item:active {
    color: #0070f3;
    border-color: #0070f3;
}

.content {
    flex: 2;
    font-weight: 300;
    padding-left: 2rem;
}

.img {
    flex: 1;
    margin: 10px;
}

@media (max-width: 720px) {
    .item {
        flex-direction: column;
        margin: 0 0 4rem -2rem;
    }
    .content {
        margin: 5px;
        margin-bottom: 20px;
    }
}

.logo {
    height: 1em;
}

@media (min-width: 768px) {
    .item {
        display: flex;
        justify-content: center;
    }
}

.author {
    margin-left: 5px;
    color: #8b008b;
    font-size: 15px;
}

.author:hover {
    color: royalblue;
}