.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    justify-content: left;
    height: 500px;
    width: 100%;
    background: url('../public/images/hero.jpg');
    background-position: 0 0;
    background-repeat: repeat-x;
    -webkit-animation: moveHero 20s linear infinite;
    animation: moveHero 20s linear infinite;
    color: #c5bb34;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 69, 69, 0.541);
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.hero h3 {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
    color: #a80998;
    width: 600px;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}


/* .contentAnimate {
    animation: textanimate 1s ease-out;
} */

@keyframes textanimate {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(50%)
    }
}

@keyframes moveHero {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.heroContent {
    position: absolute;
}

@media (min-width: 600px) {
    .heroContent {
        padding-top: 1.5rem;
        position: absolute;
        margin-right: 80px;
        text-align: left;
    }
}