.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    justify-content: left;
    height: 500px;
    width: 100%;
    background: url('../public/images/hero.jpg') center center;
    background-position: 0 0;
    background-repeat: repeat-x;
    -webkit-animation: moveHero 20s linear infinite;
    animation: moveHero 20s linear infinite;
    color: #c5bb34;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(20%, 71, 69, 69, 0.541), rgba(255, 255, 255, 0.888));
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.hero h3 {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
    color: #1b0218;
    width: 600px;
}


/* .contentAnimate {
    transform: translateY(120px);
    animation: animatetext 1s linear forwards;
    z-index: 1;
    -webkit-text-stroke: 1px #000;
} */

@keyframes animatetext {
    100% {
        transform: translateY(0)
    }
}

@keyframes moveHero {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.heroContent {
    position: absolute;
    transform: translateY(120px);
    animation: animatetext 1s linear forwards;
    z-index: 1;
}

@media (min-width: 600px) {
    .heroContent {
        padding-top: 1.5rem;
        position: absolute;
        margin-right: 80px;
        text-align: left;
    }
}